/* Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
}

a,
ul {
  text-decoration: none;
  color: inherit;
}

input,
button,
textarea,
select {
  font: inherit;
}

/* Accesibility */
/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
}

/* My styles */
:root {
  --clr-bg: #1b2430;
  --clr-prim: #ffbe76;
}

* {
  scrollbar-color: var(--clr-bg) var(--clr-bg);
  scrollbar-width: thin;
}

body {
  background-color: var(--clr-bg);
  color: #fff;
}

.skip {
  text-align: center;
  padding: 1rem;
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  translate: 0 -100%;
  transition: translate 100ms ease-in-out;
  background-color: var(--clr-bg);
}

.skip:focus {
  translate: 0 0;
}

nav {
  position: sticky;
  top: 0;
  background-color: var(--clr-bg);
  z-index: 1001;
}

nav > ul {
  padding: 1rem;
  color: #fff;
  display: flex;
  justify-content: space-between;
  max-width: 67.5rem;
  margin-inline: auto;
}

.active-link {
  border-bottom: 0.1875rem solid var(--clr-prim);
}

main {
  width: 80vw;
  margin-inline: auto;
  max-width: 67.5rem;
}

footer {
  background-color: var(--clr-bg);
  padding: 1rem;
  position: sticky;
  bottom: 0;
  text-align: center;
}

.nav__second {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.greetings {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 3rem;
  margin-block: 2.5rem;
}

.greetings__first {
  width: 18.75rem;
}

.greetings__buttonGroup {
  display: flex;
  gap: 1.5rem;
  margin-block-start: 1.5rem;
}

.greetings__buttonGroup > button {
  padding-inline: 1.5rem;
  padding-block: 0.6rem;
  border: none;
  border-radius: 1rem;
  background-color: var(--clr-prim);
  color: #000;
  cursor: pointer;
  width: 8.125rem;
  transition: filter 150ms ease-in-out;
}

.greetings__buttonGroup > button:hover {
  filter: brightness(120%);
}

.greetings__buttonGroup > button:active {
  filter: brightness(90%);
}

.greetings__picture {
  border-radius: 50%;
}

/* Reponsive layout */
@media screen and (max-width: 48em) {
  .greetings {
    flex-flow: column-reverse;
    gap: 1.5rem;
  }

  .greetings__first {
    text-align: center;
  }

  .greetings__buttonGroup {
    justify-content: center;
  }
}

/* Animations */
